@tailwind base;

@layer base {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @media (min-width: 640px) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (min-width: 1060px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@tailwind components;
@tailwind utilities;

[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: #9ca3af;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.bell-icon::before {
  @apply content-['1'] w-4 h-4 rounded-full bg-red-500 absolute z-50 top-1 right-1 text-xs text-white text-center font-bold inline-block;
}

.Vue-Toastification__toast.toast-custom {
  border-radius: 0.25rem;
}

.Vue-Toastification__close-button.close-toast-button {
  font-weight: unset;
}
